@charset "utf-8";
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #D8D8D8;
}
header {
	margin-left: -10px;
	margin-top: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
}
a:active {
	color:#790000
}
nav {
	position: static;
	right: 0px;
	left: 0px;
	margin-top: -10px;
	height: 60px;
	background-color: #790000;
	margin-bottom: 0px;
	padding-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
}
nav li:hover  {
	list-style: none;
	display: inline;
	border: 2px solid #B1B1B1;
	border-radius: 2px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #D7D7D7;
}
a.button:link {
	text-decoration: none;
	color: black;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.button:hover {
	color: white;
	background-color: #790000;
	border: 2px solid #FFFFFF;
}
a.button:visted {
	color:black;
}
a.button:active {
	color:#790000
}
nav ul {
	min-width: 450px;
	text-decoration: inherit;
	color: #FFFFFF;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
nav li {
	list-style: none;
	display: inline;
	border: 2px solid #B1B1B1;
	border-radius: 2px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #000000;
	background-color: #FFFFFF;
}
h1 {
	text-align: center;
	text-decoration: underline;
}
h3 {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	clear: both;
	text-decoration: underline;
}
h4 {
	text-align: center;
}
h5 {
	font-size: 20px;
	margin-bottom: -10px;
	margin-top: -10px;
}
#sidePlusMain {
	margin-left: 15%;
}
#leftsidebar {
	width: auto;
	max-width: 275px;
	float: left;
	margin-top: 1%;
}
#sidebartop {
	float: left;
	background-color: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 10px;
	min-width: 275px;
}
#sidebartop ul li {
	list-style-type: none;
	margin-left: -20px;
	margin-right: 10px;
	margin-top: -5px;
}
#sidebarbottom {
	float: left;
	background-color: #FFFFFF;
	border: 3px solid #000000;
	border-radius: 10px;
	clear: left;
	margin-top: 5%;
	min-width: 275px;
}
#sidebarbottom p {
	text-align: center;
}
#mainbody {
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 3px solid #000000;
	margin-left: 3%;
	margin-top: 1%;
	padding-left: 10px;
	float: left;
	padding-right: 10px;
	margin-bottom: 10px;
	max-width: 720px;
	min-width: 500px;
}
#mainbody p {
	text-align: justify;
}
.picture.box {
	float: left;
	background-color: #D7D7D7;
	border-radius: 10px;
	border: 3px solid #000000;
	margin-left: 15px;
	margin-bottom: 20px;
	margin-right: 15px;
	max-width: 250%;
}
img.picturebox {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.portrait.photo {
	float: left;
	margin-right: 20px;
}
.whos.who.p {
	padding-right: 10px;
	padding-left: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align: justify;
}
table {
	margin-left:auto;
	margin-right:auto;
	background-color: #D7D7D7;
	border: 2px solid #790000;
}
table tr td{
	border-bottom: 1px solid #790000;
	border-right: 1px solid #790000;
}
#customerwarning {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	font-size: 13px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
footer {
	clear: left;
	font-size: 10px;
}
#signupform {
	width: 300px;
	border: 3px solid #790000;
	border-radius: 10px;
	background-color: #D8D8D8;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.bookfair {
	border: 4px solid #790000;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
}
